# **Function**

In [ ]:
def greeting():
  print("Welcome to this conceptual session - 1 ")

greeting()

Welcome to this conceptual session - 1

In [ ]:
# Positional Parameters
def greeting(name2, name1):
  print("Welcome to this conceptual session - 1 ", name1)

greeting("Rakib", "Yasin") #

Welcome to this conceptual session - 1  Yasin

In [ ]:
# Keyword Parameters
def info(name, age, country="Bangladeshi"):
    print(f"{name} age is: {age} and {country}")

info(age=20, name="Rakib")

Rakib age is: 20 and Bangladeshi

In [ ]:
def add(*a):
  print(type(a))
  print(a)

add(1, 2, 3, 4, 5, 6, 7, 8)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
def info(**k):
    print(type(k))
    print(f"{k['name']} age is: {k['age']} and {k['country']}")

info(age=20, name="Rakib", country="bd", phone="01821", )

<class 'dict'>
Rakib age is: 20 and bd

In [ ]:
def func()->float:
  return 10

print(func())

10

In [ ]:
# Dictionary Return
def get_student():
    student = {
        "name": "Rakib",
        "age": 21,
        "city": "Dhaka"
    }
    return student

info = get_student()
print(info['name'])

Rakib

In [ ]:
def get_student():
    student1 = {
        "name": "Rakib",
        "age": 21,
        "city": "Dhaka"
    }
    student2 = {
        "name": "Rakib2",
        "age": 21,
        "city": "Dhaka2"
    }
    return (student1,student2)

x, y = get_student()
l = list(get_student())
print(l)

[{'name': 'Rakib', 'age': 21, 'city': 'Dhaka'}, {'name': 'Rakib2', 'age': 21, 'city': 'Dhaka2'}]

# **Iterator**

In [ ]:
arr = [10, 20, 30, 40]

itr = iter(arr) # 0
print(next(itr)) #
print(next(itr))
print(next(itr))
print(next(itr))

10
20
30
40

In [ ]:
student = {'name': 'Alice', 'age': 20, 'city': 'Dhaka'}


itr = iter(student.keys())
print(next(itr))
print(next(itr))

for a in student.keys():
  print(a)

name
age
name
age
city

# **Generator**

In [ ]:
def fun():
  for i in range(5):
    print("Kaj shuru holo ", i)
    yield i


ltr = fun()
print(next(ltr))
# #sdfsdf
# #sdfsdf
print("hello ")
print(next(ltr))

Kaj shuru holo  0
0
hello
Kaj shuru holo  1
1

# **List Comprehension**

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared = []

for num in numbers:
    squared.append(num * num)

print(squared)

[1, 4, 9, 16, 25]

In [ ]:
numbers = [1, 2, 3, 4, 5]

squared = [n for n in numbers]

print(squared)

[1, 2, 3, 4, 5]

In [ ]:
numbers = [1, 2, 3, 4, 5]

squared = [n for n in numbers if n%2==1]

print(squared)

[1, 3, 5]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squared = [n*n if(n*n >30) else 0 for n in numbers if n%2==1]

print(squared)

[0, 0, 0, 49, 81]

In [ ]:
scores = [85, 42, 76, 91, 35]
grades = [f'Pass {s}' if s >= 50 else f'Fail {s}' for s in scores]
print(grades)

['Pass 85', 'Fail 42', 'Pass 76', 'Pass 91', 'Fail 35']

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
f = [j for i in matrix for j in i]

print(f)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
students = [
    {'name': 'Alice', 'age': 20},
    {'name': 'Bob', 'age': 22},
    {'name': 'Charlie', 'age': 19}
]

names = [s['name'] for s in students]
print(names)

['Alice', 'Bob', 'Charlie']

In [ ]:
# CSV data cleaning
raw_data = [' 25 ', '30 ', ' 42', 'abc', '50']

clean = [int(r.strip()) for r in raw_data if r.strip().isdigit()]

print(clean)
# [25, 30, 42, 50]

[25, 30, 42, 50]

In [ ]:
d = [ [[1, 3], [4, 5]], [[6, 7], [8,9]]]

a = [k  for i in d for j in i for k in j]
print(a)

# for i in d:
#   for j in i:
#     for k in j:
#       print(k)

[1, 3, 4, 5, 6, 7, 8, 9]

# **lambda , map , filter , reduce function**

## lambda

In [ ]:
def greet():
  print('Hello World')
greet()

Hello World

In [ ]:
greet = lambda : print('Hello World')
greet()

Hello World

In [ ]:
greet = lambda name: print('Hello World' ,name)

greet("Rakib")

Hello World Rakib

# Map

map(function, iterable, ...)

In [ ]:
arr = [1, 2, 3, 4, 5]

arr2 = list((map(lambda x: x*x, arr)))

print(arr2)

[1, 4, 9, 16, 25]

In [ ]:
scores = [85, 92, 78, 65, 45]

def grade(x):
  if x >=80 : return f"Score is {x} and A+"
  if x >=70 : return f"Score is {x} and A"
  if x >=60 : return f"Score is {x} and A-"
  else : return f"Score is {x} and F-"

grades = list(map(grade,scores))
print(grades)

['Score is 85 and A+', 'Score is 92 and A+', 'Score is 78 and A', 'Score is 65 and A-', 'Score is 45 and F-']

## Filter

filter(function, iterable)

In [ ]:
scores = [85, 92, 78, 65, 45]

select = list(filter(lambda x: x>80 , scores))
print(select)

[85, 92]

In [ ]:
# Valid Email Filter
emails = ["user@mail.com", "invalid", "test@gmail.com", "no@", "admin@site.org"]

def check(s):
  if '@' in s and '.' in s:
    return s;


# selected = list( filter(lambda e: '@' in e and '.' in e  , emails) )
selected = list( filter(check , emails) )
print(selected)

['user@mail.com', 'test@gmail.com', 'admin@site.org']

## Reduce

In [ ]:
from functools import reduce
arr = [1,2,3,4,5]

sum = reduce(lambda x,y: x+y, arr)
print(sum)

15

In [ ]:
from functools import reduce
arr = [1,2,3,4,5]

sum = reduce(lambda x,y: x*y, arr, 10)
print(sum)

1200

In [ ]:
from functools import reduce

sentences = ["I love Python", "Machine Learning is fun", "AI is the future"]

def count_vowel(text):
  sum=0
  for ch in text.lower():
    if ch in 'aeiou':
      sum+=1

  return sum

total = reduce(lambda x, y: x + count_vowel(y), sentences, 0)
print(total)

19

# **Write and Read CSV File**

In [ ]:
from pathlib import Path
import csv

Data_Path = Path('data2')
Data_Path.mkdir(exist_ok=True)
csv_path = Data_Path / "student.csv"

# Write
with csv_path.open('w', newline="",encoding="utf-8") as f:
  writer = csv.writer(f)
  writer.writerow(["Name", "Age"])
  writer.writerow(["Rakib", 20])
  writer.writerow(["Takib", 40])
  writer.writerow(["Yakib", 25])

# Read
with csv_path.open('r',encoding="utf-8") as f:
  reader =  csv.reader(f)
  print(list(reader))

[['Name', 'Age'], ['Rakib', '20'], ['Takib', '40'], ['Yakib', '25']]

# **Error Handling**

In [ ]:
def to_int(s):
    try:
        return int(s)
    except ValueError as e:
        print("ValueError:", e)
        return None

print(to_int("ABC"))
# print("to_int('abc'):", to_int("abc"))

ValueError: invalid literal for int() with base 10: 'ABC'
None

In [ ]:
# --- DEMO: raising custom errors ---
def require_positive(n):
    if n <= 0:
        raise ValueError("n must be > 0")
    return n

def dividedbyn(n):
  if n==0:
    raise ZeroDivisionError("0 diye vag kora jabe nah")
  return 100/n;

try:
    # print(require_positive(-1))
    print(dividedbyn(0))
except ZeroDivisionError as e:
    print(e)
except ValueError as e:
    print("Caught:", e)

0 diye vag kora jabe nah