Create a 4Ã—3 DataFrame of student names and marks. Drop one column using .drop(), drop one row by index

In [1]:
import pandas as pd

In [5]:
data = {

    'Name': ['Sayed', 'Red', 'Dean', 'Duncun'],
    'Math': [85, 90, 78, 88],
    'English': [92, 80, 75, 85]
}
df = pd.DataFrame(data)

df.drop(['Math'], axis=1, inplace=True)
print(df)
df.drop(0, inplace=True)
print(df)

     Name  English
0   Sayed       92
1     Red       80
2    Dean       75
3  Duncun       85
     Name  English
1     Red       80
2    Dean       75
3  Duncun       85